@{
    ViewBag.Title = "Home Page";
}

<h1 align="center"> Parabolc Function</h1><br>

@{Html.RenderPartial("ParabolicFunction");}

<div id="chartContainer" style="height: 300px; width: 100%;"></div>


